# Dependencies
/node_modules

# Build artifacts
/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local

# Editor-specific files
.vscode/
.idea/
.cursor/

# OS-specific files
.DS_Store
