@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.floating-arrow {
  animation: float 3s ease-in-out infinite;
}

.snap-section {
  min-height: 100dvh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
